.landingPage {
    margin: 0px 0px 0px 0px;
}

.container {
    padding: 0px !important;
}

.introContent {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.scroll {
    font-weight: 500;
    color: rgb(130, 130, 130);
    font-size: 15px;
}

.introImg {
    display: inline-block;
    width: 30%;
    float: right;
}

.introText {
    font-size: 80px;
    font-weight: 700 !important;
    margin: 0px !important;
}

.Vspan {
    font-size: 80px;
    font-weight: 700 !important;
    color: #00bf63;
}

.apoSpan {
    color: #cadcd3;
    font-size: 80px;
    font-weight: 700 !important;
    font-family: 'Lato', sans-serif;
}


.introText2 {
    font-size: 40px;
    font-weight: 900;
    color: #00bf63;
    margin-top: 40px;
}

.introText3 {
    font-weight: 600;
}

.buyBtn {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    padding: 15px;
    margin: 4% auto 10% auto;
}

.buyBtn:hover {
    background-color: #00bf63;
    cursor: pointer;
    animation: none;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.buyBtn {
    animation: blink 3s infinite;
}

.headSec {
    display: block;
    padding: 0px 30px 5% 30px !important;
    padding-top: 7% !important;
}

.midSec {
    margin: 0px !important;
    padding: 0px !important;
    display: inline-block !important;
    background-color: black;
    color: white;
}

.middleSec {
    padding: 0px 30px 0px 30px !important;
    margin-top: 7%;
}

.process {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 3%;
}

.processDiv {
    display: inline-flex;
    width: 100%;
    padding-bottom: 8%;
}

.processDiv p {
    display: block;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    text-align: justify;
}

.process1,
.process2,
.process3,
.process4 {
    width: 25%;
    display: block;
    align-items: center;
    text-align: center;

}

.process1 img {

    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 30px;

}

.process2 img {
    max-width: 150px;
    height: auto;
    margin-bottom: 30px;
    width: 100%;
}

.process3 img {
    max-width: 150px;
    height: auto;
    margin-bottom: 30px;
    width: 100%;
}

.process4 img {
    max-width: 150px;
    height: auto;
    margin-bottom: 30px;
    width: 100%;
}

.commonDiv {
    width: 100%;
}

.benefitsSec {
    color: #00bf63;
    background-color: white;
    padding: 7% 30px 6% 30px;
    float: left;
    width: 50%;
}

.benefitsSec h4 {
    font-weight: 900;
    font-size: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.coSpan {
    color: black;
}

.benefitsSec li {
    font-size: 25px;
    margin: 15px 0px 15px 0px;
    font-weight: 600;
    color: black;

}

.benefitsSec ul {
    padding-left: 25%;
}

.benefitsSec li::marker {
    color: #00bf63;
}

.priceSec {
    float: right;
    width: 50%;
    padding: 7% 30px 8% 30px;
    background-color: #00bf63;
}

.priceSec h4 {
    font-weight: 900;
    font-size: 40px;
    padding-bottom: 5%;
    display: block;
    text-align: center;
    color: white;
}

.priceCesCard {
    display: inline-flex !important;
    margin: 2% auto 4% auto;
}

.Delivery{
    width: 100%;
    background-color: #c1ffe0;
}

.delLoc{
    padding: 7% 4% 2% 4% !important;
    text-align: center;
}

.Delivery h3{
    color: #00bf63;
    font-size: 40px;
    font-weight: 900;
    margin: 0% 0% 5% 0%;
}

.locs{
    color: #0a5cad;
    font-size: 30px;
    font-weight: 600;
}

.locss{
    text-align: end;
}

.locss img{
    width: 20px;
    height: 30px;
    padding-top: 10px;
    margin-right: 2%;
}

.cityCBE{
    width: 100%;
}

.location{
    margin-right: 3%;
    margin-bottom: 2%;
    display: inline-flex;
    font-size: 25px;
    font-weight: 700;
    width: 25%;
}


@media (min-width: 1400px) {
    .container {
        max-width: none !important;
    }
}

@media (min-width: 300px) and (max-width: 1300px) {

    .introImg {
        width: 100%;
    }

    .commonDiv {
        display: block !important;
    }

    .benefitsSec {
        width: 100%;
    }

    .priceSec {
        width: 100%;
    }

    .benefitsSec ul {
        padding-left: 2rem;
    }

    .benefitsSec li{
        font-size: 20px;
    }

    .processDiv {
        display: block;
        width: 100%;
    }

    .process1,
    .process2,
    .process3,
    .process4 {
        width: 100%;
        display: block;
        align-items: center;
        text-align: center;
    }

    .location {
        margin-right: 3%;
        margin-bottom: 2%;
        display: block;
        font-size: 20px;
        font-weight: 700;
        width: 100%;
        text-align: initial;
        padding-left: 10%;
    }

    .locss img {
        width: 15px;
        height: 15px;
        padding-top: 0px;
        margin-right: 2%;
        margin-bottom: 4px;
    }

    .Delivery h3 {
        color: #00bf63;
        font-size: 30px;
        font-weight: 900;
        margin: 0% 0% 7% 0%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: none !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: none !important;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: none !important;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: none !important;
    }
}