.abtSec{
    /* background-color: whitesmoke; */
    color: grey;
    padding: 7% 30px 0px 30px;
    font-family: 'Lato', sans-serif;
}

.coSpan3 {
    color: black;
}

.Vspan3 {
    color: #00bf63;
}

.apoSpan3 {
    color: #a9a9a9;
    font-family: 'Lato', sans-serif;
}

.foundersImg{
    width: 20%;
    display: block;
    position: relative;
    left: 40%;
    border: 10px solid #e9e9e9;
    border-radius: 50%;
}

.vim{
    width: 15%;
}

.vick{
    width: 15%;
}

.overview{
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.overviews {
    text-align: center;
    margin-bottom: 4%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.overviewP{
    width: 100%;
    text-align: justify;
    text-justify: inter-word !important;
    padding: 0px 10% 4% 10%;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    /* margin-bottom: 4%; */
}

.overviewP2{
    width: 100%;
    text-align: justify;
    text-justify: inter-word !important;
    padding: 4% 10% 4% 10%;
    margin-bottom: 2%;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.foundr{
    width: 100%;
}

#vim{
    display: flex;
    padding: 0px 10% 0px 10%;
}

#vick{
    display: flex;
    padding: 0px 10% 4% 10%;
}

#vim p{
    margin: 4% 0% 0% 4%;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#vick p{
    margin: 4% 4% 0% 0%;
    text-align: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.founderTag{
    font-size: 20px;
    font-weight: 800;
}

@media (min-width: 300px) and (max-width: 1300px) {

.foundersImg{
    position: static;
    width: 100%;
}
#vick, #vim{
    display: block;
}

.vick, .vim{
    width: 100%;
    margin: 10% 0px 10% 0px;
}

/* .vick{
    margin: 15% 0px 10% 0px !important;
} */

#vim p{
    text-align: justify !important;
    margin: 40px 2% 2% 2%;
}

#vick p{
    text-align: justify !important;
    margin: 40px 2% 2% 2%;
}

.founderTag{
    text-align: justify;
    font-size: 14px;
}
}

@media (min-width: 600px) and (max-width: 1300px) {
    .foundersImg{
        width: 30% !important;
        position: relative;
    left: 40%;
    }
    
    .vick, .vim{
        width: 30% !important;
        margin: 5% 0px 5% 0px;
        position: relative;
    left: 40%;
    }
}